/* basic style */

    .universalConteiner{
        .title-line{ padding: 75px 0;
            h2{ text-align: center; font-size: 48px; font-family: "Futura"; color: rgb(55, 55, 55);   text-transform: uppercase; line-height: 1; font-weight: 300;}
        }
        .tabs{
            ul{ list-style: none; padding: 0; margin: 0; display: flex; align-items: center; justify-content: center; 
                li{ cursor: pointer; padding: 20px;
                    .tabber{font-size: 12px;  font-family: "Futura"; font-weight: 500;  color: rgb(98, 98, 98); letter-spacing: 2px; text-transform: uppercase; transition: all 0.3s;}
                    &.active{
                        .tabber{font-weight: 700;}
                    }
                }
            }
        }
        .content{
            
            ul>li{
                &:nth-child(16n-15){background-color: #efefef;}
                &:nth-child(16n-14){background-color: #c7c7c7;}
                &:nth-child(16n-13){background-color: #ebebeb;}
                &:nth-child(16n-12){background-color: #c2c2c2;}
                &:nth-child(16n-11){background-color: #e5e5e5;}
                &:nth-child(16n-10){background-color: #bdbdbd;}
                &:nth-child(16n-9){background-color: #e0e0e0;}
                &:nth-child(16n-8){background-color: #b8b8b8;}
                &:nth-child(16n-7){background-color: #dbdbdb;}
                &:nth-child(16n-6){background-color: #b2b2b2;}
                &:nth-child(16n-5){background-color: #d6d6d6;}
                &:nth-child(16n-4){background-color: #adadad;}
                &:nth-child(16n-3){background-color: #d1d1d1;}
                &:nth-child(16n-2){background-color: #a8a8a8;}
                &:nth-child(16n-1){background-color: #cccccc;}
                &:nth-child(16n){background-color: #a3a3a3;}

            }
        }
        .buttoner{ padding-top: 40px; padding-bottom: 10px;
            a{ display: flex; height: 40px; max-width: 250px; margin: 0 auto; display: flex; align-items: center; justify-content: center; text-decoration: none; border: 1px solid #7e7e7e; background-color: transparent; transition: all 0.3s;
                span{font-size: 12px; font-family: "ProximaNova"; color: rgb(19, 19, 19); text-transform: uppercase; line-height: 1;}
                &:hover{background-color: rgba(0, 0, 0, 0.1);}
            }
        }
    }

/* basic style */

/* news , library */

    .newsWrap, .libraryWrap{
        &>ul{list-style: none; padding: 0; margin: 0; display: flex; align-items: stretch; justify-content: center;
            li{ width: 25%; padding: 50px 60px; background-color: #d8d8d8;
                .topper{width: 100%;
                    .con{ position: relative; overflow: hidden; height: 235px; width: 100%;
                        img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 100%;}
                    }
                }
                .descriptor{ width: 100%; background-color: white; padding: 15px; position: relative; height: calc(100% - 235px);
                    .date{ text-align: center; font-size: 18px; font-family: "Futura"; color: rgb(133, 133, 133);line-height: 1.2; font-weight: 300; padding-bottom: 15px;}
                    .title{ padding-bottom: 85px; font-size: 30px; font-family: "Futura"; font-weight: 700;   color: rgb(75, 75, 75); line-height: 1.2; text-align: center; }
                    .readMore{ position: absolute; top: calc(100% - 65px);  left: 0; right: 0; text-align: center; display: flex; align-items: flex-start; justify-content: center;
                        a{ display: block; font-size: 12px; font-family: "Futura"; font-weight: 300; color: rgb(103, 103, 103); line-height: 1.2; position: relative; text-decoration: none; padding-bottom: 4px;  text-transform: uppercase;
                            &:before{content: ''; position: absolute; bottom: 0; left: 10%; right: 10%; height: 1px; background-color: rgb(103, 103, 103); transition: all 0.3s; }
                            &:hover{
                                &:before{left: 0; right: 0; }
                            }
                            span{}
                        }
                    }
                }
            }
        }
    }

/* news , library */

/* stones */
    .stonesWrap{
        &>ul{ list-style: none; margin: 0; padding: 0; display: flex; align-items: stretch; justify-content: space-between; flex-wrap: wrap;
            li{width: 50%; display: flex; align-items: stretch; justify-content: space-between;
                .topper{width: 50%;  height: 480px; order: 1;
                    .con{position: relative; width: 100%; height: 100%; overflow: hidden;
                        &:before{content: ''; position: absolute; top: calc(50% - 20px/2); width: 0; height: 0;    border-style: solid; border-width: 20px 20px 20px 0; border-color: transparent #fbfbfb transparent transparent; z-index: 2; right: 0;}
                        img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 100%; min-height: 100%; max-width: none;}
                    }
                }
                .descriptor{width: 50%; order: 2; background-color: #fbfbfb; display: flex; align-items: center; justify-content: center; flex-direction: column; position: relative; padding: 100px 50px;
                    .readMore{position: absolute; left: 0; right: 0; top: calc(100% - 90px); text-align: center; display: flex; align-items: flex-start; justify-content: center;
                        a{ display: block; font-size: 12px; font-family: "Futura"; font-weight: 300; color: rgb(103, 103, 103); line-height: 1.2; position: relative; text-decoration: none; padding-bottom: 4px; text-transform: uppercase;
                            &:before{content: ''; position: absolute; bottom: 0; left: 10%; right: 10%; height: 1px; background-color: rgb(103, 103, 103); transition: all 0.3s; }
                            &:hover{
                                &:before{left: 0; right: 0; }
                            }
                            span{}
                        }
                    }
                    .title{font-size: 30px;  font-family: "Futura"; color: rgb(75, 75,75); line-height: 1.2; font-weight: 700; text-align: center; padding-bottom: 20px;}
                    .descript{ font-size: 14px;  font-family: "Futura"; color: rgb(138, 138, 138); line-height: 1.2;  text-align: center;}
                }

                &:nth-child(4n-4){
                    .topper{order: 2;
                        .con:before{content: ''; position: absolute; top: calc(50% - 20px/2); width: 0; height: 0; border-style: solid;border-width: 20px 0 20px 20px; border-color: transparent transparent transparent #fbfbfb; z-index: 2; left: 0; }
                    }
                    .descriptor{order: 1;}
                }
                 &:nth-child(4n-1){
                    .topper{order: 2;
                        .con:before{content: ''; position: absolute; top: calc(50% - 20px/2); width: 0; height: 0; border-style: solid;border-width: 20px 0 20px 20px; border-color: transparent transparent transparent #fbfbfb; z-index: 2; left: 0;}
                    }
                    .descriptor{order: 1;}
                }
            }
        }
    }
/* stones */

/* partners */

    .partnersWrap{
        .slick-slider{
            .slick-arrow{ font-size: 1px; color: transparent; height: 80px; width: 40px; background-position: center center; background-size: 100% 100%; background-repeat: no-repeat; z-index: 3;
                &.slick-prev{left: 60px; background-image: url(../images/left-arrow.svg);  }
                &.slick-next{ right: 60px; background-image: url(../images/right-arrow.svg);}
            }
            .item{ text-align: center; display: flex; align-items: center; justify-content: center; height: 385px; background-color: #f3f3f3;
                a{display: block; }
            }
        }
    }

/* partners */

/* quality */

    .qualityWrap{
        ul{ padding: 0; margin: 0; list-style: none; display: flex; align-items: stretch; justify-content: center; flex-wrap: wrap;
            li{width: 25%; padding: 50px 60px; background-color: #d8d8d8;
                .topper{width: 100%;
                    .con{ position: relative; overflow: hidden; height: 200px; width: 100%;
                        img{ position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); min-width: 100%;}
                    }
                }
                .descriptor{ width: 100%; background-color: white; padding: 20px; position: relative; height: calc(100% - 200px); padding-bottom: 45px;
                    .title{ padding-bottom: 15px; font-size: 30px; font-family: "Futura"; font-weight: 700;   color: rgb(75, 75, 75); line-height: 1.2; text-align: center; }
                    .descript{font-size: 14px; font-family: "Futura"; color: rgb(138, 138, 138); line-height: 1.2;  text-align: center; padding-bottom: 30px;}
                    .readMore{ position: absolute; top: calc(100% - 45px);  left: 0; right: 0; text-align: center; display: flex; align-items: flex-start; justify-content: center;
                        a{ display: block; font-size: 12px; font-family: "Futura"; font-weight: 300; color: rgb(103, 103, 103); line-height: 1.2; position: relative; text-decoration: none; padding-bottom: 4px;  text-transform: uppercase;
                            &:before{content: ''; position: absolute; bottom: 0; left: 10%; right: 10%; height: 1px; background-color: rgb(103, 103, 103); transition: all 0.3s; }
                            &:hover{
                                &:before{left: 0; right: 0; }
                            }
                            span{}
                        }
                    }
                }
            }
        }
    }

/* quality */

/* form */

    .contactWrap{display: flex; align-items: stretch; justify-content: center;background-color: #f8f8f8; 
        .form-part{ width: 50%; padding: 55px 0; max-width: 520px; margin: 0 auto;
            .topper{
                ul {list-style: none; padding: 0; margin: 0;
                    li{background-color: transparent !important;}
                }
                .contact-row{ 
                    li{display: flex; align-items: flex-start; text-align: left; font-family: "Futura";font-size: 20px;  color: rgb(55, 55, 55);   line-height: 1.2; padding: 11px 0;
                        .leftPart{ width: 40%;  }
                        .rightPart{width: 60%;}
                    }
                }
                .soc-row{display: flex; align-items: center; justify-content: flex-start; padding: 30px 0;
                    li{margin-right: 15px; }
                }
            }
            .former{width: 100%; 
                .form-group, .row-submit{ padding: 10px 0;
                    input, textarea {width: 100% !important; padding: 0 20px; height: 50px; border: 1px solid #e5e5e5; outline: none; font-size: 16px; font-family: "Futura"; color: #383838; font-weight: 500; transition: all 0.3s; box-shadow: inset 0px 0px 3px 1px rgba(255,0,0,0); }
                    textarea{ padding: 20px; height: 185px !important; resize: none;}
                    button{ height: 40px; max-width: 250px; width: 100%; border: 1px solid #e5e5e5; background-color: #383838; padding: 0; transition: all 0.3s; cursor: pointer;
                        span{font-size: 12px;  font-family: "Futura"; color: rgb(255, 255, 255);  text-transform: uppercase;  line-height: 38px; text-align: center; display: block;}
                        &:hover{ background-color: rgba(#383838, 0.9); }
                    }
                    &.error{
                        input, textarea{border-color: red; box-shadow: inset 0px 0px 3px 1px rgba(255,0,0,1);}
                    }
                }
            }
        }
        .mapPart{height: 785px;  width: 50%; overflow: hidden; position: relative;
            iframe{width: 100%; height: 100%; overflow: hidden; border: none;}
        }
    }

/* form */

/* materialWrap */

    .materialWrap{
        .slick-arrow{ font-size: 1px; color: transparent; height: 80px; width: 40px; background-position: center center; background-size: 100% 100%; background-repeat: no-repeat; z-index: 3;
            &.slick-prev{left: 60px; background-image: url(../images/left-arrow-white.svg);  }
            &.slick-next{ right: 60px; background-image: url(../images/right-arrow-white.svg);}
        }
        .item{ width: 400px; height: 615px; padding: 115px 50px; position: relative;
            &:nth-child(16n-15){background-color: #efefef;}
            &:nth-child(16n-14){background-color: #c7c7c7;}
            &:nth-child(16n-13){background-color: #ebebeb;}
            &:nth-child(16n-12){background-color: #c2c2c2;}
            &:nth-child(16n-11){background-color: #e5e5e5;}
            &:nth-child(16n-10){background-color: #bdbdbd;}
            &:nth-child(16n-9){background-color: #e0e0e0;}
            &:nth-child(16n-8){background-color: #b8b8b8;}
            &:nth-child(16n-7){background-color: #dbdbdb;}
            &:nth-child(16n-6){background-color: #b2b2b2;}
            &:nth-child(16n-5){background-color: #d6d6d6;}
            &:nth-child(16n-4){background-color: #adadad;}
            &:nth-child(16n-3){background-color: #d1d1d1;}
            &:nth-child(16n-2){background-color: #a8a8a8;}
            &:nth-child(16n-1){background-color: #cccccc;}
            &:nth-child(16n){background-color: #a3a3a3;}

            a{display: flex; align-items: center; justify-content: center; text-decoration: none; position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba( 0,0,0, 0.4);opacity: 0; transition: all 0.3s;
                .descriptor{
                    .title{font-size: 30px; font-family: "Futura"; font-weight: 500; color: rgb(255, 255, 255);   text-transform: uppercase; line-height: 1.2; text-align: center;}
                    .texter{ padding-top: 25px; font-size: 18px; font-family: "Futura"; color: rgb(255, 255, 255);   line-height: 1.2; font-weight: 500; text-align: center;}
                }
            }
            &:hover{
                a{opacity: 1;}
            }
        }
    }

/* materialWrap */